@import '../../utils/variables.scss';

.main {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;

  &.dark {
    background-color: $main-color-dark-2;
    color: $main-color-light;
  }
  &.light {
    background-color: $main-color-light-2;
    color: $main-color-dark-2;
  }
}
