// global css variable settings neede in all of the project.

// colors

$main-color: crimson;
$main-color-lighter: rgb(221, 40, 76);

$secondary-color: yellowgreen;

$main-color-dark: rgb(29, 29, 29);
$main-color-dark-2: rgb(40, 40, 40);

$main-color-light: rgb(211, 211, 211);
$main-color-light-2: rgb(230, 230, 230);
