@import '../../utils/variables.scss';

.search {
  height: 70px;
  width: 100%;
  .search-box {
    height: 250px;
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translate(-50%, -20%);
    background-color: $main-color-dark;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

    &:hover > .search-txt {
      width: 240px;
      padding: 0 6px;
    }
    .search-btn {
      color: $main-color;
      border: none;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $main-color-dark;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .search-txt {
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: white;
      font-size: 16px;
      transition: all 0.4s;
      line-height: 40px;
      width: 0px;
    }
  }
}
