@import '../../utils/variables.scss';

.search {
  height: 120px;
  width: 100%;

  .search-box {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    height: 40px;
    border-radius: 40px;
    padding: 10px;

    @media (max-width: 600px) {
      padding: 4px;
    }
    &.dark {
      background-color: $main-color-dark;
    }
    &.light {
      background-color: $main-color-light;
    }

    &:hover > .search-txt {
      width: 240px;
      padding: 0 6px;

      @media (max-width: 1024px) {
        padding: 0;
      }
    }
    .search-btn {
      border: none;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @media (max-width: 1024px) {
        position: absolute;
        left: 80%;
        height: 40px;
        width: 40px;
      }

      &.dark {
        background-color: $main-color-dark;
        color: $main-color;
      }
      &.light {
        background-color: $main-color-light;
        color: $secondary-color;
      }
    }

    .search-txt {
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      font-size: 16px;
      transition: all 0.4s;
      line-height: 40px;
      width: 0px;

      @media (max-width: 1024px) {
        width: 240px;
        padding: 0 6px;
      }

      &.dark {
        color: $main-color-light-2;
      }
      &.light {
        color: $main-color-dark-2;
      }
    }
  }
}
