@import '../../utils/variables.scss';

.countries {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  width: 90%;

  @media (max-width: 600px) {
  }

  .country {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 0.7rem;
    text-align: center;

    @media (max-width: 600px) {
      font-size: 0.5rem;
      padding: 0.35rem 0.7rem;
    }

    cursor: pointer;
    transition: all 0.2s;

    &.dark {
      background-color: $main-color-dark;
      &:hover {
        background-color: $main-color;
      }
    }
    &.light {
      background-color: $main-color-light;
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
.container {
  width: 95%;
  min-height: 600px;
  background-size: cover;
  cursor: default;
  border-radius: 10px;
  box-shadow: 2px 8px 21px 5px rgba(0, 0, 0, 0.75);
  transition: all 0.2s;
  margin: 3rem 0;

  &.dark {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.9),
        rgba(29, 29, 29, 0.9)
      ),
      url('../../assets/weather.jpg');
  }
  &.light {
    background-image: linear-gradient(
        to right,
        rgba($main-color-light, 0.6),
        rgba($main-color-light-2, 0.6)
      ),
      url('../../assets/weather.jpg');
  }

  &:hover {
    transform: scale(1.005);
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 600px) {
      flex-direction: column;
    }
    .left {
      display: flex;
      margin: 0.5rem;
      .img {
        width: 120px;
        height: 100px;
        margin: 1rem;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
      .text {
        margin: 0.2rem;
        padding: 0;
      }
      .sub-text {
        margin: 0.2rem;
        padding: 0;
      }
    }
    .right {
      margin: 2rem 3rem;

      .favorite {
        display: flex;
        width: 200px;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 600px) {
          width: 100%;
          justify-content: center;
        }
        .btn {
          padding: 0.9rem 2rem;
          font-size: 0.7rem;
          font-weight: bolder;
          color: inherit;
          background-color: transparent;
          border: none;
          border-radius: 30px;
          cursor: pointer;
          transition: all 0.5s;
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.75);

          @media (max-width: 600px) {
            margin-left: 1rem;
          }

          &.dark {
            &:hover {
              background-color: $main-color;
            }
          }
          &.light {
            &:hover {
              background-color: $secondary-color;
            }
          }

          &:active {
            transform: scale(0.98);
          }
        }
      }
    }
  }
  .five-day-title {
    @media (max-width: 600px) {
      font-size: 1.3rem;
    }
  }
  .bottom {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
